# DATASET 1 - Alquileres AIRBNB en Europa

The entire Description of all the Airbnb stays in Europe with the type of stay, prices and how far it is from the metro distance and city centre and many other details to perform the necessary analysis.

### Fuente: 
https://www.kaggle.com/datasets/dipeshkhemani/airbnb-cleaned-europe-dataset

### Link drive: 
https://drive.google.com/file/d/1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0/view?usp=sharing

### Link descarga: 
https://drive.google.com/uc?id=1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0

In [1]:
import pandas as pd
import requests
from io import StringIO

url = f'https://drive.google.com/uc?id=1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0'
response = requests.get(url).text
csv_data = StringIO(response)

df = pd.read_csv(csv_data)
print("Cantidad de filas:", df.shape[0])
print("Cantidad de columnas:", df.shape[1])
print("Primeras 5 filas del dataframe")
df.head()

Cantidad de filas: 41714
Cantidad de columnas: 19
Primeras 5 filas del dataframe

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2,False,1,0,10,93,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4,False,0,0,8,85,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2,False,0,1,9,87,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4,False,0,1,9,90,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2,True,0,0,10,98,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677

# DATASET 2 - Películas más populares en TMDB

This is a collection of metadata about the top 10,000 most popular movies on The Movie Database (TMDB)

### Fuente: 
https://www.kaggle.com/datasets/ursmaheshj/top-10000-popular-movies-tmdb-05-2023

### Link drive: 
https://drive.google.com/file/d/1Q39wfmys3r_O9zo_OQS_D6nFhst9ml8M/view?usp=sharing

### Link descarga: 
https://drive.google.com/uc?id=1Q39wfmys3r_O9zo_OQS_D6nFhst9ml8M

In [8]:
import pandas as pd
import requests
from io import StringIO

url = f'https://drive.google.com/uc?id=1Q39wfmys3r_O9zo_OQS_D6nFhst9ml8M'
response = requests.get(url).text
csv_data = StringIO(response)

df = pd.read_csv(csv_data)
print("Cantidad de filas:", df.shape[0])
print("Cantidad de columnas:", df.shape[1])
print("Primeras 5 filas del dataframe")
df.head()

Cantidad de filas: 10000
Cantidad de columnas: 14
Primeras 5 filas del dataframe

,id,title,release_date,genres,original_language,vote_average,vote_count,popularity,overview,budget,production_companies,revenue,runtime,tagline
0,758323,The Pope's Exorcist,2023-04-05,"['Horror', 'Mystery', 'Thriller']",English,7.4,619,5089.969,"Father Gabriele Amorth, Chief Exorcist of the ...",18000000,"['Screen Gems', '2.0 Entertainment', 'Jesus & ...",65675816,103,Inspired by the actual files of Father Gabriel...
1,640146,Ant-Man and the Wasp: Quantumania,2023-02-15,"['Action', 'Adventure', 'Science Fiction']",English,6.6,2294,4665.438,Super-Hero partners Scott Lang and Hope van Dy...,200000000,"['Marvel Studios', 'Kevin Feige Productions']",464566092,125,Witness the beginning of a new dynasty.
2,502356,The Super Mario Bros. Movie,2023-04-05,"['Animation', 'Adventure', 'Family', 'Fantasy'...",English,7.5,1861,3935.550,"While working underground to fix a water main,...",100000000,"['Universal Pictures', 'Illumination', 'Ninten...",1121048165,92,NaN
3,868759,Ghosted,2023-04-18,"['Action', 'Comedy', 'Romance']",English,7.2,652,2791.532,Salt-of-the-earth Cole falls head over heels f...,0,"['Skydance Media', 'Apple Studios']",0,120,Finding that special someone can be a real adv...
4,594767,Shazam! Fury of the Gods,2023-03-15,"['Action', 'Comedy', 'Fantasy', 'Adventure']",English,6.8,1510,2702.593,"Billy Batson and his foster siblings, who tran...",125000000,"['New Line Cinema', 'The Safran Company', 'DC ...",133437105,130,Oh. My. Gods.

# DATASET 3 - Pobreza y desigualdad en el mundo

A global dataset of poverty and inequality measures prepared by Our World in Data from the World Bank's Poverty and Inequality Platform (PIP) database. The World Bank’s PIP data is a large collection of household surveys where steps have been taken by the World Bank to harmonize definitions and methods across countries and over time.

### Fuente: 
https://www.kaggle.com/datasets/utkarshx27/global-poverty-and-inequality-dataset

### Link drive: 
https://drive.google.com/file/d/1qdpf87A0ChIqOaBb5Cy2XxKZq3rBGWTw/view?usp=sharing

### Link descarga: 
https://drive.google.com/uc?id=1qdpf87A0ChIqOaBb5Cy2XxKZq3rBGWTw

In [7]:
import pandas as pd
import requests
from io import StringIO

url = f'https://drive.google.com/uc?id=1qdpf87A0ChIqOaBb5Cy2XxKZq3rBGWTw'
response = requests.get(url).text
csv_data = StringIO(response)

df = pd.read_csv(csv_data)
print("Cantidad de filas:", df.shape[0])
print("Cantidad de columnas:", df.shape[1])
print("Primeras 5 filas del dataframe")
df.head()

Cantidad de filas: 4877
Cantidad de columnas: 108
Primeras 5 filas del dataframe

,country,year,reporting_level,welfare_type,ppp_version,survey_year,survey_comparability,headcount_ratio_international_povline,headcount_ratio_lower_mid_income_povline,headcount_ratio_upper_mid_income_povline,...,decile8_thr,decile9_thr,gini,mld,polarization,palma_ratio,s80_s20_ratio,p90_p10_ratio,p90_p50_ratio,p50_p10_ratio
0,Albania,1996,national,consumption,2011,1996.0,0.0,0.920669,11.174149,44.618417,...,8.85,10.92,0.270103,0.119104,0.241293,0.928335,3.945872,3.568627,1.889273,1.888889
1,Albania,2002,national,consumption,2011,2002.0,1.0,1.570843,14.132118,49.669635,...,8.83,11.58,0.317390,0.164812,0.268982,1.215056,4.831625,3.979381,2.090253,1.903780
2,Albania,2005,national,consumption,2011,2005.0,1.0,0.860527,8.715685,38.545254,...,10.02,12.78,0.305957,0.154413,0.254529,1.142718,4.662236,3.872727,1.978328,1.957576
3,Albania,2008,national,consumption,2011,2008.0,1.0,0.313650,5.250542,31.110345,...,10.74,13.62,0.299847,0.148893,0.247311,1.114657,4.395911,3.574803,1.956897,1.826772
4,Albania,2012,national,consumption,2011,2012.0,1.0,0.849754,6.182414,34.528906,...,10.52,13.26,0.289605,0.138417,0.249988,1.041193,4.272573,3.632877,1.941435,1.871233