# DATASET 1 - Alquileres AIRBNB en Europa

**Descripción:**
Departamentos en alquiler en AIRBNB en Europa, en función de tipo de las características del local.

**Variables de interés:**
Ciudad, Precio, Tipo, Capacidad, Distancias a puntos de interés, Distancias al metro

**Fuente:** 
https://www.kaggle.com/datasets/dipeshkhemani/airbnb-cleaned-europe-dataset

**Link drive:**
https://drive.google.com/file/d/1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0/view?usp=sharing

**Link descarga:**
https://drive.google.com/uc?id=1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0

In [6]:
import pandas as pd
import requests
from io import StringIO

url = f'https://drive.google.com/uc?id=1sBXXoA2pLBycIeq-LRajr3pgf6HfTuo0'
response = requests.get(url).text
csv_data = StringIO(response)

df = pd.read_csv(csv_data)
print("Cantidad de filas:", df.shape[0])
print("Cantidad de columnas:", df.shape[1])
print("Primeras 5 filas del dataframe")
df.head()

Cantidad de filas: 41714
Cantidad de columnas: 19
Primeras 5 filas del dataframe

,City,Price,Day,Room Type,Shared Room,Private Room,Person Capacity,Superhost,Multiple Rooms,Business,Cleanliness Rating,Guest Satisfaction,Bedrooms,City Center (km),Metro Distance (km),Attraction Index,Normalised Attraction Index,Restraunt Index,Normalised Restraunt Index
0,Amsterdam,194.033698,Weekday,Private room,False,True,2,False,1,0,10,93,1,5.022964,2.539380,78.690379,4.166708,98.253896,6.846473
1,Amsterdam,344.245776,Weekday,Private room,False,True,4,False,0,0,8,85,1,0.488389,0.239404,631.176378,33.421209,837.280757,58.342928
2,Amsterdam,264.101422,Weekday,Private room,False,True,2,False,0,1,9,87,1,5.748312,3.651621,75.275877,3.985908,95.386955,6.646700
3,Amsterdam,433.529398,Weekday,Private room,False,True,4,False,0,1,9,90,2,0.384862,0.439876,493.272534,26.119108,875.033098,60.973565
4,Amsterdam,485.552926,Weekday,Private room,False,True,2,True,0,0,10,98,1,0.544738,0.318693,552.830324,29.272733,815.305740,56.811677